<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <div class="navbar bg-info text-uppercase">
        <h2><%= link_to "MEMBERS ONLY", root_path %></h2>
        <div class="group">
        <%= check_user %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
